<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Appointments</title>
</head>
<header data-th-replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header data-th-replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
			<div id="content" class="pure-u-1">
				<div class="pad right">
					<button type="submit" form="theForm" class="pure-button"  value="Save">Save</button>
					<a class="pure-button" data-th-href="@{/appointments}">Cancel</a>
					<a class="pure-button" data-th-if="${command.id != null}" data-th-href="@{/appointments/{c}/delete(c=${command?.id})}">Delete</a>
					
				</div>
				<div class="pad">
					<form class="pure-form pure-form-aligned" id="theForm" action="#" data-th-action="@{/appointments}" data-th-object="${command}" method="post">
<!--  						<input type="hidden" data-th-field="*{id}"/> -->
						<input type="hidden" data-th-field="*{client}"/>
						<input type="hidden" data-th-field="*{pet}"/>
					    <div data-th-if="${saved}" class="message-box-info">
							Saved
					    </div>

						<div class="pure-control-group">
				            <label>Id</label>
<!-- 				            <input readonly data-th-if="${command.id == null}" value="New"/> -->
  				            <input readonly name="id" data-th-if="${command.id != null}" data-th-value="*{id}"/>
				        </div>
		
				        <div class="pure-control-group">
				            <label for="client">Client</label>
				            <span id="client" name="client" type="text" data-th-text="${client.name}" ></span>
				        </div>

				        <div class="pure-control-group">
				            <label for="time">Time</label>
				            <select required id="time" name="time" data-th-field="*{time}">
				            	<option value="08:00:00"> 08:00 AM </option>
				            	<option value="09:00:00"> 09:00 AM </option>
				            	<option value="10:00:00"> 10:00 AM </option>
				            	<option value="11:00:00"> 11:00 AM </option>
				            	<option value="12:00:00"> 12:00 PM </option>
				            	<option value="13:00:00"> 01:00 PM </option>
				            	<option value="14:00:00"> 02:00 PM </option>
				            	<option value="15:00:00"> 03:00 PM </option>
				            	<option value="16:00:00"> 04:00 PM </option>
				            	<option value="17:00:00"> 05:00 PM </option>
				            </select>
				        </div>
						
						
				        <div class="pure-control-group">
				            <label for="date">Date</label>
				            <input id="date" name="date" type="date" data-th-field="*{date}" required>
				        </div>
				        
				        <div class="pure-control-group">
				            <label for="pet">Pet</label>
				            <span id="pet" name="pet" type="text" data-th-text="${pet.name}" ></span>
				        </div>
				        
				        <div class="pure-control-group" data-th-if="${command.id != null}">
							<div data-th-if="${deleted}" class="message-box-info">
								Deleted successfully
							</div>
							
				       
				        </div>
						
						
					</form>
					
							
				</div>
			</div>
		</div>
    </div>
</body>
</html>




