<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
			<div id="content" class="pure-u-1">
				<div class="pad right">
					<a class="pure-button"  data-th-href="@{'/pets'}">Add appointment</a>
				</div>
				<div class="pad">
				    <div data-th-if="${deleted}" class="message-box-info">
						Deleted successfully
				    </div>
					<table class="fullWidth pure-table pure-table-horizontal">
						<thead>
							<tr>
								<th>Id</th>
								<th>Client</th>
								<th>Time</th>
								<th>Date</th>
								<th>Pet</th>

							</tr>
						</thead>
						<tbody>	
							<tr data-th-each="appointment : ${appointments}">
								<td> <a data-th-href="@{/appointments/{id}(id=${appointment.id})}" data-th-text="${appointment.id}">...</a></td>
								<td data-th-each="client : ${clients}">
									<div data-th-if ="${appointment.client} == ${client.id}"><span data-th-text ="${client.name}">...</span></div>
								</td>
								<!-- <td data-th-text="${appointment.client}">...</td> -->
								<td data-th-text="${appointment.time}">...</td>
								<td data-th-text="${appointment.date}">...</td>
								<td data-th-each="pet : ${pets}">
									<div data-th-if ="${appointment.pet} == ${pet.id}"><span data-th-text ="${pet.name}">...</span></div>
								</td>
								<!-- <td data-th-text="${appointment.pet}">...</td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</body>
</html>
