<!DOCTYPE html>
<html>
  <header th:replace="fragments/head.html :: head"></header>
  <body>
    <div id="container" class="content pure-g">
      <header th:replace="fragments/header.html :: header"></header>
      <div id="mainBody" class="pure-u pure-g column">
        <div id="content" class="pure-u-1">
          <div class="pad">
            Welcome to the Appointment page.
            <br />
            From this page, you should be able to:
            <ul>
              <li>Add new appointments</li>
              <li>List Appointments</li>
              <li>Save Appointments</li>
              <li>Delete Appointments</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
